@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-color: black;
  /* padding: 0 5rem 5rem 5rem; */
}
.card-container {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}
.carousel {
  /* width: 80%; */
  height: 30%;
  margin-top: 2rem;
}
.full-container {
  height: 100vh;
  width: 72.9vw;
}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
